@import url('https://fonts.googleapis.com/css?family=Arvo|Kosugi+Maru|M+PLUS+Rounded+1c&display=swap');
.TopJumbotron { background:center no-repeat; background-size: cover; height: 500px;}
h1 h3 h5{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
    font-family: 'Kosugi Maru', sans-serif;
}
strong {
    font-family: 'Arvo', serif;
}
.row_Album {
 background-color: white;
}