.blog-post {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }

  /* Blog用の装飾見出しを描画*/
  .Blog_h3 {
    background: #d9e0e7;
    box-shadow: 0px 0px 0px 5px #d9e0e7;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
  }

  h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  /* 各見出文章をPaddingで内よりにする(見やすさのため)*/
  .TextInSide{
  padding: 2%;
  }

  /* 引用かっこを描写*/
  blockquote {
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }
  blockquote:before, blockquote:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
  }
  blockquote:before {
    left: 7px;
  }
  blockquote:after {
    right: 7px;
  }

  /* 注意のマーク描画*/
  h6 {
    position: relative;
  }
  
  h6:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
    background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  }